/* styles.css */

/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #3B2F4F, #000000);
    color: #fff;
}

/* Header Styles */
header {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
}

    header h1 {
        font-size: 32px;
        margin: 0;
    }

/* Navigation Styles */
nav {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
}

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

        nav ul li {
            display: inline;
            margin-right: 10px;
        }

            nav ul li a {
                color: #fff;
                text-decoration: none;
                font-weight: bold;
            }

/* Hero Section Styles */
.hero {
    background-image: url("./Image files/hero background.png");
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    text-align: center;
    color: #fff;
}

.hero-content {
    max-width: 600px;
    margin: 0 auto;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
}

/* Main Content Styles */
main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

    section h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    section p {
        font-size: 16px;
    }

/* Footer Styles */
footer {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
}

/* Fancy Tea button style*/
.TEA-button {
    display: inline-block;
    padding: 40px 80px;
    background-image: url("./Image files/alexander.png");
    background-size: cover;
    background-position: center center;
    color: purple;
    font-size: 40px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease;
}

.TEA-button:hover{
    background-color: #ff4081;
}

/* Responsive Styles */
@media (max-width: 768px) {
    header h1 {
        font-size: 24px;
    }

    .hero h2 {
        font-size: 28px;
    }

    .hero p {
        font-size: 16px;
    }

    section h2 {
        font-size: 20px;
    }

    section p {
        font-size: 14px;
    }
}
